/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Background */
body {
  height: 100vh;
  background: linear-gradient(135deg, #4e73df, #1cc88a);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.auth-card {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  text-align: center;
}

/* Title */
.auth-card h2 {
  margin-bottom: 25px;
  color: #333;
}

/* Inputs */
.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}

/* Button */
.auth-card button {
  width: 100%;
  padding: 12px;
  background: #4e73df;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-card button:hover {
  background: #2e59d9;
}

/* Link */
.auth-card p {
  margin-top: 15px;
}

.auth-card a {
  color: #4e73df;
  text-decoration: none;
  font-weight: bold;
}
